
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome4</title>
</head>
<body>
    <div> 
        @for( int i=0; i<ViewBag.NumTime; i++)
            {
                <li> @ViewBag.Message </li>
            }
    </div>
</body>
</html>
