<div class="nav">
    <div class="sb-sidenav-menu-heading">Core</div>
    <a class="nav-link" href="@Url.Action("Index","Home")">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Dashboard
    </a>
    <div class="sb-sidenav-menu-heading">Functions</div>
    <a class="nav-link" href="@Url.Action("Table","Home")">
        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
        Catalogs
    </a>
    <a class="nav-link" href="@Url.Action("Table","Home")">
        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
        Product
    </a>
    <a class="nav-link" href="@Url.Action("Table","Home")">
        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
        Members
    </a>
</div>
