
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@section TieuDe{
    <h1 class="mt-4">Dashboard</h1>
}

@{ Html.RenderPartial("_LinkAdmin"); }

<div class="card mb-4">
    <div class="card-body">
        <p class="mb-0">
            <strong>Hà Thị Huệ</strong>. Content of page
        </p>
    </div>
</div>

