
@model IEnumerable<BaiTap13.Models.Nha_CC>
<div class="col-md-9">
    <div class="header-search">
        <form>
            <select class="input-select">
                 @foreach (var item in Model)
                 {
                <option value="0">@Html.DisplayFor(modelItem => item.TenNCC)</option>
                
                 }
            </select>
            <input class="input" placeholder="Nhập tên sản phẩm">
            <button class="search-btn">Tìm kiếm</button>
        </form>
    </div>
</div>
