
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.HoatDong = "Trang chủ";
}

<div class="card mb-4">
    <div class="card-body">
        <p class="mb-0">
            Nội dung trang
        </p>
    </div>
</div>

