<!DOCTYPE HTML>

<html>
<head>
    <title>PHẠM THỊ HOÀI - 2018603058</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="~/wwwroot/js/html5shiv.js"></script><![endif]-->
    <script src="~/wwwroot/js/skel.min.js"></script>
    <script src="~/wwwroot/js/skel-panels.min.js"></script>
    <script src="~/wwwroot/js/init.js"></script>
    <link rel="stylesheet" href="~/wwwroot/css/skel-noscript.css" />
    <link rel="stylesheet" href="~/wwwroot/css/style.css" />
    <link rel="stylesheet" href="~/wwwroot/css/style-desktop.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="~/wwwroot/css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/wwwroot/css/ie/v9.css" /><![endif]-->
</head>
<body class="homepage">
   
    <!-- Header -->
    <div id="header">
        <div class="container">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="#">Royale</a></h1>
            </div>

            <!-- Nav -->
            @{
                Html.RenderPartial("_Nav");
            }

        </div>
    </div>
    <!-- Header -->
    <!-- Banner -->
    <div id="banner">
        <div class="container">


        </div>
    </div>
    <!-- /Banner -->
    <!-- Main -->
    <div id="main">
        @RenderBody()
    </div>
    <!-- /Main -->
    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <section>
                <header>
                    <h2>Pellentesque vulputaterisus semper</h2>
                    <span class="byline">In posuere eleifend semper augue maecenas ligula congue rutrum</span>
                </header>
                <div class="row">
                    <section class="4u">
                        <a href="#" class="image full"><img src="~/wwwroot/images/pics03.jpg" alt=""></a>
                    </section>
                    <section class="4u">
                        <a href="#" class="image full"><img src="~/wwwroot/images/pics04.jpg" alt=""></a>
                    </section>
                    <section class="4u">
                        <a href="#" class="image full"><img src="~/wwwroot/images/pics05.jpg" alt=""></a>
                    </section>
                </div>
                <a href="#" class="button">Nulla luctus eleifend</a>
            </section>
        </div>
    </div>
    <!-- /Footer -->
    <!-- Copyright -->
    <div id="copyright">
        <div class="container">
            PHẠM THỊ HOÀI - 2018603058
        </div>
    </div>
</body>
</html>